<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add new cars here</h1>
    <h3>Add a new car</h3>
    <form action="/cars_added" method="post">
      <label for="make-model">Make and Model</label>
      <input id="make-model" type="text" name="make-model">
      <br><br>
      <label for="price">Price</label>
      <input id="price" type="text" name="price">
      <br><br>
      <label for="mileage">Mileage</label>
      <input id="mileage" type="text" name="mileage">
      <br><br>
      <button type="submit" name="button">Enter here!</button>
    </form>
  </body>
</html>
