<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership</title>
  </head>
  <body>
    <h1>Our Available List of Cars</h1>
    <ul>
      @foreach(string newCar in Model)
   {
     <li>@newCar.GetAllCars()</li>
   }
    </ul>
    <a href="add_new_cars.cshtml">Add a new Car!</a>
  </body>
</html>
