<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership</title>
  </head>
  <body>
    <h1>Our Available List of Cars</h1>
    <ul>
      @foreach(var thecars in Model)
      {
       <li>@thecars.GetMakeModel()</li>
       <li>@thecars.GetPrice()</li>
       <li>@thecars.GetMileage()</li>
      </br>
      }
    </ul>
    <button  type="submit" name="button"><a href="/">Add a new Car!</a></button>
    <form action="/cars_cleared" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
  </body>
</html>
